{% extends 'default.html' %}
{% load i18n %}
{% load static %}
{% load comments %}
{% block title %}{{ title }} {% endblock %}

<!DOCTYPE HTML>
<html>
{% block extra_head %}
<head>
<title>
</title>
<meta CHARSET='UTF-8'>
<style>
.individual-page {
    background-color: #e5e5e5;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
</style>

{% endblock %}
</head>
<body>

{% block content %}

{% if view == 'index' %}
{% load page_tags %}
  <div class="post-container">
  <h1>Recent Posts</h1>
  {% for page in pages_list %}
  {% if page.is_public %}
  <div class="individual-page">
  <p> <a href = "{{ page.get_absolute_url }}" >{{ page.title|capfirst }}</a> by {{ page.owner|capfirst }} </p>
  <p>{{ page.content|striptags|truncatechars:50|capfirst }}</p>
  <p>{{ page.create_dt|date:"Y/m/d" }}</p>
  {% get_comment_count for page as comment_count %}
  <p>{{ comment_count }} comment(s)</p>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}

{% endblock %}

{% block sidebar %}

<div class="category-container">
  <h1>Categories</h1>  
  {% for key,value in category_dict.items %}
  {% if value != 0 %}
  <p> <a href = "{% url 'page.search' %}?q=category:{{ key.name }}" > {{ key.name|capfirst }} ({{ value }})</a> </p>
  {% endif %}
  {% endfor %}

  <h1>Archive</h1>  
  <div class="dropdown">
    <button class="dropbtn">Archive</button>
    <div class="dropdown-content">
    {% for year in year_list %}
      {% for month in month_list %}
        <a href="{% url 'blog.monthSort' year|date:'Y' month|date:'m' %}">{{ month|date:'F' }}, {{ year|date:'Y' }} </a>
      {% endfor %}
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>

